@charset "UTF-8";

/*
base style
*/
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
        "Hiragino Kaku Gothic PronN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    background: #b5c0d0;
}
.header {
    text-align: center;
    height: 4vh;
}
.title {
    height: 100%;
    display: grid;
    place-items: center;
}
footer {
    position: absolute;
    bottom: 1px;
    right: 2px;
    font-size: 8px;
    text-align: center;
    display: grid;
    place-items: center;
}
main {
    height: 96vh;
    display: flex;
    flex-direction: column;
}
.bg_red {
    background: #eed3d9;
}
.bg_yellow {
    background: #f5e8dd;
}
.bg_gray {
    background: #d9d9d9;
}
.icon {
    width: 56px;
    height: auto;
    background: #d9d9d9;
    padding: 4px;
}
.mini_title {
    padding: 4px;
}
.mini_title p {
    background: #d9d9d9;
    width: 100%;
    margin: 0;
    padding: 8px;
}
.home {
    justify-content: space-between;
}
.home_middle {
    padding: 16px;
}
.home_icon {
    background: #d9d9d9;
    height: 32px;
}
img {
    max-width: 100%; /* 最大幅を200pxに設定 */
    width: auto; /* 幅を自動調整 */
    height: auto; /* 高さを自動調整 */
}
.home_select {
    display: flex;
    flex-direction: column; /* 列方向に要素を配置 */
}
.select_text {
    width: 50%;
    text-align: center;
    font-size: 24px;
    margin: 4px;
    color: #333;
}
.home_select_u {
    display: flex;
    justify-content: center;
}
.home_select_l {
    width: auto;
    background: #ccd3ca;
}
